.cards {
  display: inline-flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}

.card {
  flex: 0 1 30%;
  position: relative;
  margin: 16px;
  min-width: 300px;
}

.rating {
  position: absolute;
  top: 450px;
  right: 16px;
}

.card-quote {
  margin: 0;
}

.card-quote span {
  position: relative;
  top: 32px;
  line-height: 16px;
  font-size: 64px;
  font-family: 'Space Grotesk', sans-serif;
}
