.list-cards {
  display: inline-flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 32px;
  width: 100%;
}

.list-card {
  z-index: 1;
  flex: 0 1 30%;
  position: relative;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  margin: 16px 8px;
  min-width: 240px;
  max-width: 400px;
  height: 180px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: center;

  .card-link {
    color: white;

    &:hover {
      text-decoration: none;
    }
  }
}

.inner-card {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  height: 180px;
  min-width: 240px;
  max-width: 400px;
  background-size: cover;
  background-position: center;
}

.list-card:hover .btn-delete {
  color: white;
}

.btn-delete {
  position: absolute;
  top: 4px;
  right: 8px;
  margin: 0;
  padding: 8px;
  width: 32px;
  color: transparent;
  transition: transform 0.15s ease-out;

  &:hover {
    color: white;
    transform: scale(1.25);
    transition: transform 0.15s ease-in;
  }
}