.navbar {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  padding: 8px 16px;
  height: 80px;
  width: 100%;
  background: transparent;
  transition: background 0.2s;

  a:first-child,
  a:first-child:hover {
    color: black;
    text-decoration: none;
  }

  h1 {
    margin: 0;
    color: white;
  }

  .nav-btn {

  }
}

.navbar-black {
  background: black;
  transition: background 0.2s;
}
