// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

* {
  margin: 0;
  padding: 0;
}

html, body {
    -ms-overflow-style: none;  /* Hide scrollbar IE and Edge */
    scrollbar-width: none;  /* Hide scrollbar Firefox */
    min-height: 200vh;
    background-color: #FEFFE4;
}

/* Hide ALL scrollbars */
html::-webkit-scrollbar,
body::-webkit-scrollbar,
.sidebar::-webkit-scrollbar {
  display: none;
}

body {
  background: radial-gradient(
    circle at bottom,
    #ccc,
    black 50%
    );
}

@media only screen and (max-width: 992) {
  .container {
    width: 100vw;
    margin: 0;
  }
}
